@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h2{
  color: orange;
}
h3{
  color: rgb(198, 130, 5)
}

header {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 a{
  background-color: #ff4e00;
  background: -webkit-linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  font-size: 40px;
  background: -(#cd6108, rgb(217, 171, 85));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header a{
  text-decoration: none;
  color: #fff;
}

nav {
  font-size: large;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
}

 nav a:hover {
  color: rgb(96, 64, 3)
 }

 nav a.active {
  color: rgb(232, 193, 121);
  font-weight: bold;
}

section {
  padding: 40px 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

#hero {
  background-color: #333;
}

#hero h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

#hero p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #ccc;
}

.cta-button {
  display: inline-block;
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

.cta-button:hover {
  background-color: orange;
}

#features {
  background-color: #000;
}

#features h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.feature {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.feature-icon {
  width: 475px;
  margin-right: 20px;
  border-radius: 3%;
  box-shadow: 0 2px 5px rgba(179, 176, 176, 0.3);
}

.feature-content1 {
  margin-left: 40px;
}
.feature-content2 {
  margin-right: 40px;
}

.feature h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 16px;
  color: #ccc;
}

.snip1574 { 
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(87, 85, 85, 0.15);
}

.snip1574 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1574:hover {
  transform: translateY(-5px);
}

.snip1574 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.4;
}

.snip1574 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 80px 10% 15%;
}

.snip1574 figcaption:before {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 170px;
  opacity: 0.35;
  font-style: normal;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0px;
  left: 50%;
}

.snip1574 blockquote {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1.2em;
}

.snip1574 h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}

.snip1574 h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 1px;
}


footer {
  background-color: #333;
  color: rgb(248, 248, 77);
  padding: 20px;
  text-align: center;
}
